body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 30px;
}

h1 {
    color: blue;
}

p {
    font-size: 18px;
    color: black;
}

a {
    color: orangered;
    font-size: 18px;
    text-decoration: none;
}

button {
    background-color: green;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2ecc71;
}
